PORT=5000
SUPABASE_URL="https://werksfoxavxgdoedgzkt.supabase.co"
SUPABASE_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6IndlcmtzZm94YXZ4Z2RvZWRnemt0Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjI0NzA0MTEsImV4cCI6MjA3ODA0NjQxMX0.JX4BxE04hiwLQT8hufmwALYV6P14o0Kg5mQg-ff2AZM"
JWT_SECRET=your_jwt_secret_key_here_change_in_production
NODE_ENV=development
